<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>单选题创编</title>

  <link rel="stylesheet" type="text/css" href="/js/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/style-responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <script src="/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>

    <!--左侧开始-->
    <div th:replace="~{/admin/commons/common :: commonleft}"></div>
    <!--左侧结束-->

    <!-- main content start-->
    <div class="main-content" >

        <!--头部开始-->
        <div th:replace="~{/admin/commons/common :: commonheader}"></div>
        <!--头部结束-->

        <!--当前位置介绍开始-->
        <div class="page-heading">
            <h3>
                单选题创编
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">题库管理</a>
                </li>
                <li class="active"> 单选题创建 </li>
            </ul>
        </div>
        <!-- 当前位置介绍结束-->

        <div class="wrapper">
            <div class="mail-box">

                <section class="mail-box-info">
                    <header class="header">
                        <div class="btn-toolbar">
                            <h4 class="pull-left">
                                单选题创建中......
                            </h4>
                        </div>

                    </header>

                    <section class="mail-list">
                        <div class="compose-mail">
                            <form role="form-horizontal" method="post">
                                <div class="form-group">
                                    <label for="to" class="">To:</label>
                                    <input type="text" tabindex="1" id="to" class="form-control">

                                    <div class="compose-options">
                                        <a onclick="$(this).hide(); $('#cc').parent().removeClass('hidden'); $('#cc').focus();" href="javascript:;">Cc</a>
                                        <a onclick="$(this).hide(); $('#bcc').parent().removeClass('hidden'); $('#bcc').focus();" href="javascript:;">Bcc</a>
                                    </div>
                                </div>

                                <div class="form-group hidden">
                                    <label for="cc" class="">Cc:</label>
                                    <input type="text" tabindex="2" id="cc" class="form-control">
                                </div>

                                <div class="form-group hidden">
                                    <label for="bcc" class="">Bcc:</label>
                                    <input type="text" tabindex="2" id="bcc" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="subject" class="">Subject:</label>
                                    <input type="text" tabindex="1" id="subject" class="form-control">
                                </div>
                                <!--onclick函数，当管理员点击题干表单时题干表单设置不可见，显示富文本编辑器，-->
                                <div class="form-group">
                                    <label for="textarea" class="">题干:</label>
                                    <input type="text" tabindex="1" id="subject2" class="form-control"
                                           onclick="$(this).parent().addClass('hidden');//当前表单设置不可见
                                           $('#textarea').parent().removeClass('hidden');//富文本编辑器设置可见
                                           $('#textarea-button').removeClass('hidden');//富文本编辑器按钮设置可见
                                           $('#textarea').focus();"
                                    >
                                </div>

                                <!--富文本编辑器开始，包括按钮-->
                                <div class="compose-editor hidden">
                                    <textarea id="textarea" class="wysihtml5 form-control" rows="5" th:text="请在此输入题干"></textarea>
                                </div>
                                <div class="compose-btn hidden" id="textarea-button">
                                    <button type="button" class="btn btn-primary btn-sm"
                                            onclick="$('#subject2').attr('value',$('#textarea').val());//设置题干的文本内容为富文本编辑器的内容
                                            $('#textarea').parent().addClass('hidden');//设置文本编辑器不可见，
                                            $('#textarea-button').addClass('hidden');//设置按钮不可见，设置题干可见
                                            $('#subject2').parent().removeClass('hidden')"
                                    ><i class="fa fa-check"></i> 确定</button>
                                    <button class="btn btn-sm btn-default"><i class="fa fa-times"></i> 取消</button>
                                </div>
                                <!--富文本编辑器结束-->

                                <div class="form-group">
                                    <label for="subject" class="">A</label>
                                    <input type="text" tabindex="1" id="A" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="subject" class="">B</label>
                                    <input type="text" tabindex="1" id="B" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="subject" class="">C</label>
                                    <input type="text" tabindex="1" id="C" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="subject" class="">D</label>
                                    <input type="text" tabindex="1" id="D" class="form-control">
                                </div>
                                <div class="compose-btn">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-check"></i> 完成</button>
                                    <button type="button" class="btn btn-sm btn-default"><i class="fa fa-rotate-right"></i> 重置</button>
                                    <button type="button" class="btn btn-sm btn-default"><i class="fa fa-plus"></i>添加选项</button>
                                </div>

                            </form>
                        </div>
                    </section>


                </section>
            </div>

        </div>


        <!--body wrapper start-->
<!--        <div class="wrapper">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    -->
<!--                    <section class="panel">-->
<!--                        <header class="panel-heading">-->
<!--                            <span class="tools pull-right">-->
<!--                                <a class="fa fa-chevron-down" href="javascript:;"></a>-->
<!--                                <a class="fa fa-times" href="javascript:;"></a>-->
<!--                             </span>-->
<!--                        </header>-->
<!--                        <div class="panel-body">-->
<!--                            <div class="form">-->
<!--                                <form action="#" class="form-horizontal">-->
<!--                                    <div class="form-group">-->
<!--                                        <div class="col-sm-12">-->
<!--                                            <textarea class="form-control ckeditor" name="editor1" rows="6"></textarea>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </section>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2014 &copy; AdminEx by ThemeBucket
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>

<script type="text/javascript" src="/js/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="/js/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>

<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>

<script>
    jQuery(document).ready(function(){
         $('.wysihtml5').wysihtml5();
    });
    document.getElementById("single-choice").className="active";
    document.getElementById("menu4").className="menu-list nav-active";
</script>

</body>
</html>
