<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link th:href="@{/js/iCheck/skins/minimal/minimal.css}" rel="stylesheet">
    <link th:href="@{/js/iCheck/skins/minimal/minimal.css}" rel="stylesheet">
    <link th:href="@{/js/iCheck/skins/square/square.css}" rel="stylesheet">
    <link href="/js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="/js/iCheck/skins/square/blue.css" rel="stylesheet">
    <!--dashboard calendar-->
    <link href="/css/clndr.css" rel="stylesheet">
    <!--common-->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
</head>

<body class="sticky-header">

<!--左侧开始-->
<div th:replace="~{/admin/commons/common :: commonleft}"></div>
<!--左侧结束-->

<!--主页面开始-->
<div class="main-content" >
    <!--头部开始-->
    <div th:replace="~{/admin/commons/common :: commonheader}"></div>
    <!--头部结束-->

    <!--body wrapper start-->
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        <div>
                            用户名:<input type="text" value="" name="userName" th:value="${userName}">
<!--                            真实姓名：<input type="text" value="" name="realName" th:value="${realName}">-->
<!--                            学号:<input type="text" value="" name="uId" th:value="${uId}">-->
                            <input type="submit"  value="查询">
<!--                            <a th:href="${/admin/searchSubmit}">查询</a>-->
                        </div>


                    </header>

                    <div class="panel-body">
                        <div class="adv-table" style="height: 55em">
                            <div class="space15"></div>
                            <table class="display table table-hover" id="dynamic-table">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>用户名</th>
                                    <th>密码</th>
                                    <th>学号</th>
                                    <th>真实姓名</th>
                                    <th>性别</th>
                                    <th>职业</th>
                                    <th>权限</th>
                                    <th>创建时间</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${page.records}">
                                    <td class="center"><input type="checkbox" name="ids" th:value="${user.id}"></td>
                                    <td th:text="${user.userName}"></td>
                                    <td th:text="${user.password}"></td>
                                    <td th:text="${user.uId}"></td>
                                    <td th:text="${user.realName}"></td>
                                    <td th:text="${user.sex==1} ? '男' : '女'"></td>
                                    <td th:text="${user.profession}"></td>
                                    <td th:text="${user.perms}"></td>
                                    <td th:text="${#dates.format(user.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td>

                                    </td>
                                    <td>
                                        <a th:href="@{/toEdit(id=${user.id})}">edit</a>
                                        <a th:href="@{/delete(id=${user.id})}">delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--分页-->
                            <div th:replace="~{/admin/commons/page :: page}"></div>
                            <!--分页结束-->

                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!--body wrapper end-->

    <!--footer section start-->
    <footer>
        2022 &copy;<a href="https://www.pdsu.edu.cn/" target="_blank">平顶山学院软件应用双创实验室提供技术支持</a>
    </footer>
    <!--footer section end-->


</div>
<!--主页面结束-->



<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>


<!-- END JAVASCRIPTS -->
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
    document.getElementById("user-list").className="active";
    document.getElementById("menu2").className="menu-list nav-active";
</script>
</body>
</html>