<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.examination.mapper.UserMapper">



    <select id="queryUserList" resultType="user" >
        SELECT * FROM db_exam.t_user
    </select>

    <resultMap id="UserMap" type="User">
        <result column="user_name" property="userName"></result>
        <result column="user_uuid" property="userUuid"></result>
        <result column="real_name" property="realName"></result>
        <result column="birth_day" property="birthDay"></result>
        <result column="image_path" property="imagePath"></result>
    </resultMap>

    <select id="queryUserByName" resultMap="UserMap" parameterType="String">
        SELECT * FROM db_exam.t_user WHERE user_name = #{userName}
    </select>


</mapper>