<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>在线考试系统</title>

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
<body class="horizontal-menu-page">

<section>

    <div th:replace="~{/user/commons/common :: commonhead('questionList.html')}"></div>


    <!--正文开始-->
    <div class="wrapper">
        <div class="col-md-12">
            <!--问题列表开始-->
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        问题
                        <span class="tools pull-right">
                                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                                        <a href="javascript:;" class="fa fa-times"></a>
                                     </span>
                    </div>
                    <!--搜索开始-->
                    <div style="margin-top: 15px; " class="col-md-3">
                        <div class="input-group m-bot15">
                                              <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                                              </span>
                            <form th:action="@{/user/questionList}">
                                <input type="text" class="form-control" name="searchName" placeholder="输入关键字搜索">
                            </form>
                        </div>

                    </div>
                    <div style="margin-top: 15px; " class="col-md-3">
                        <div class="input-group m-bot15">
                                              <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                                              </span>
                            <form th:action="@{/user/questionList}">
                                <input type="text" class="form-control" name="searchId" placeholder="输入ID搜索">
                            </form>
                        </div>

                    </div>
                    <!--搜索结束-->
                    <!--分类/标签开始-->
                    <div style="margin-top: 15px; " class="col-lg-4"></div>
                    <div style="margin-top: 15px; " class="col-lg-2">
                        <!--                    分类/标签结束-->
                        <a href="javascript:;" id="add-sticky" class="btn btn-success  btn-sm">所有分类/标签</a>
                    </div>

                    <div id="pie-chart-donut" class="pie-chart">
                        <div id="panel-body">
<!--                            内容开始-->
                            <table class="table  table-hover general-table">
                                <thead>
                                <tr>
                                    <th>题目标号</th>
                                    <th class="hidden-phone">标题</th>
                                    <th>题型</th>
                                    <th>难度</th>
                                    <th>解决</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody>

                                    <tr th:each="question :${questionList}">
                                        <td th:text="${question.id}"></td>
                                        <td th:text="${question.content}"></td>
                                        <td th:if="${question.questionType}==1" th:text="单选题"></td>
                                        <td th:if="${question.questionType}==2" th:text="多选题"></td>
                                        <td th:if="${question.difficult}==1" th:text="简单">简单</td>
                                        <td th:if="${question.difficult}==2" th:text="中等">中等</td>
                                        <td th:if="${question.difficult}==3" th:text="困难">困难</td>
                                        <td th:text="${question.solutioned}"></td>
                                        <td>
                                            <button th:unless="${question.result}" class="btn btn-primary" th:text="未做过"></button>
                                            <button th:if="${question.result == 1}" class="btn btn-info " th:text="未完成"></button>
                                            <button th:if="${question.result == 2}" class="btn btn-success" th:text="已完成"></button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
<!--                            内容结束-->
                            <!--分页-->
                            <div th:fragment="page"><!--定义用于被显示列表页包含-->
                                <head>
                                    <style>
                                        .page-item {
                                            padding: 1px 5px;
                                            border: 1px solid #afafaf;
                                            margin-left: 3px
                                        }

                                        .page-item.active {
                                            color: red;
                                            border: 1px solid red;
                                        }
                                    </style>
                                </head>
                                <div style="float: left" th:if="${page.pages>0}">
                                    当前第<span th:text="${page.current}"></span>页,共<span
                                        th:text="${page.pages}"></span>页,总记录数<span th:text="${page.total}"></span>
                                </div>
                                <div style="float: right" th:if="${page.pages>0}">
                                    <a th:href="@{${jumpUrl}+${qName}+${searchNameValue}+${qId}+${searchIdValue}}" th:text="首页" th:if="${page.current>1}" th:class="page-item"></a>
                                    <a th:href="@{${jumpUrl}+${page.current-1}+${qName}+${searchNameValue}+${qId}+${searchIdValue}}" th:text="上一页" th:class="page-item"
                                       th:if="${page.current>1}"></a>
                                    <a th:href="@{${jumpUrl}+${i}+${qName}+${searchNameValue}+${qId}+${searchIdValue}}"
                                       th:each="i :${#numbers.sequence(1, page.pages)}" th:text="${i}"
                                       th:class="${page.current == i}? 'page-item active' :'page-item' "></a>
                                    <a th:href="@{${jumpUrl}+${page.current+1}+${qName}+${searchNameValue}+${qId}+${searchIdValue}}" th:text="下一页" th:class="page-item"
                                       th:if="${page.current<page.pages}"></a> <a
                                        th:href="@{${jumpUrl}+${page.pages}+${qName}+${searchNameValue}+${qId}+${searchIdValue}}" th:text="尾页" th:class="page-item"
                                        th:if="${page.current<page.pages}"></a>
                                </div>
                            </div>
                            <!--分页结束-->

                        </div>

                    </div>
                </div>
            </div>
            <!-- 问题列表结束-->
        </div>

    </div>
    <!--正文结束-->

    <!--底部开始-->
    <footer class="sticky-footer">
        2022 &copy;<a href="https://www.pdsu.edu.cn/" target="_blank">平顶山学院软件应用双创实验室提供技术支持</a>
    </footer>
    <!--底部结束-->

</section>


<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>
<!--图表-->


<script src="/js/scripts.js"></script>

</body>
</html>