<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link th:href="@{/static/js/iCheck/skins/minimal/minimal.css}" rel="stylesheet">
    <link th:href="@{/static/js/iCheck/skins/minimal/minimal.css}" rel="stylesheet">
    <link th:href="@{/static/js/iCheck/skins/square/square.css}" rel="stylesheet">
</head>

<body class="container">

<!--左侧开始-->
<div th:replace="~{/admin/commons/common :: commonleft}"></div>
<!--左侧结束-->

<!--主页面开始-->
<div class="main-content" >
    <!--头部开始-->
    <div th:replace="~{/admin/commons/common :: commonheader}"></div>
    <!--头部结束-->


    <h1>修改用户</h1>
    <br/><br/>

    <div class="with:80%">
        <form class="form-horizontal"   th:action="@{/edit}" th:object="${user}"  method="post">
            <input type="hidden" name="id" th:value="*{id}" />
            <div class="form-group">
                <label for="userName" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="userName"  id="userName" th:value="*{userName}" placeholder="userName"/>
                </div>
            </div>
            <div class="form-group">
                <label for="userPassword" class="col-sm-2 control-label" >密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="userPassword" id="userPassword"  th:value="*{userPassword}" placeholder="userPassword"/>
                </div>
            </div>
            <div class="form-group">
                <label for="uId" class="col-sm-2 control-label">学号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="uId"  id="uId" th:value="*{uId}" placeholder="uId"/>
                </div>
            </div>
            <div class="form-group">
                <label for="realName" class="col-sm-2 control-label">真实姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="realName"  id="realName" th:value="*{realName}" placeholder="realName"/>
                </div>
            </div>
            <div class="form-group">
                <label for="sex" class="col-sm-2 control-label">性别</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="sex"  id="sex" th:value="*{sex}" placeholder="sex"/>
                </div>
            </div>
            <div class="form-group">
                <label for="profession" class="col-sm-2 control-label">专业</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="profession"  id="profession" th:value="*{profession}" placeholder="profession"/>
                </div>
            </div>
            <div class="form-group">
                <label for="profession" class="col-sm-2 control-label">权限</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="profession"  id="profession" th:value="*{profession}" placeholder="profession"/>
                </div>
            </div>
            <div class="form-group">
                <label for="profession" class="col-sm-2 control-label">专业</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="profession"  id="profession" th:value="*{profession}" placeholder="profession"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Submit" class="btn btn-info" />
                    &nbsp; &nbsp; &nbsp;
                    <a href="/toAdd" th:href="@{/list}" class="btn btn-info">Back</a>
                </div>

            </div>
        </form>
    </div>


</div>

</body>
</html>
