<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon"  type="image/png">

    <title>在线考试系统</title>

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="horizontal-menu-page">

<section>
    <!--头部开始 commonhead传入参数判断进入的页面高亮显示-->
    <nav th:fragment="commonhead(active)" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="/images/logo.png" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li th:class="${active=='index.html'?'active':''}"><a th:href="@{/user/index}">首页</a></li>
                    <li th:class="${active=='questionList.html'?'active':''}"><a th:href="@{/user/questionList}">问题</a></li>
<!--                    <li th:class="${active=='paperTest.html'?'active':''}"><a th:href="@{/user/paperTest}">模拟考试</a></li>-->
                    <li th:class="${active=='paper.html'?'active':''}"><a th:href="@{/user/paper}">考试</a></li>
                    <li ><a href="#"></a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" th:text="${userName}"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a data-toggle="modal" href="#updatePassword"><i class="fa fa-cog"></i>  修改密码</a></li>
                            <li><a th:href="@{/user/logout}">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--头部结束-->

    <!--正文开始-->
    <div class="wrapper">
        正文
    </div>
    <!--正文结束-->

    <!--底部开始-->
    <footer class="sticky-footer">
        平顶山学院提供技术支持
    </footer>
    <!--底部结束-->

</section>

<!--   修改密码modal框开始-->
<div th:fragment="commonupdatePwd">
    <div data-backdrop="static" data-keyboard="false"  aria-labelledby="updatePassword" role="dialog" tabindex="-1" id="updatePassword" class="modal fade text-center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">修改密码</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <div aria-hidden="true">&times;</div>
                    </button>
                </div>
                <div class="modal-body">
                    <br/>
                    <div class="item form-group col-md-12  tip"   >
                        <div class="col-md-offset-3 col-md-3" style="color:red;display:none;" id="tip"></div>
                    </div>

                    <div class="item form-group">
                        <label for="oldPwd" >输入原密码</label>
                        <input id="oldPwd" type="password" name="oldPwd" required="required">
                    </div>
                    <div class="item form-group">
                        <label for="newPwd" >输入新密码</label>
                        <input id="newPwd" type="password" name="newPwd"  required="required">
                    </div>
                    <div class="item form-group">
                        <label for="newPwd2">确认新密码</label>
                        <input id="newPwd2" type="password" name="newPwd2" required="required">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="button" id="pwd_btn" name="dosubmit" class="btn btn-secondary" >确认修改</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--   修改密码modal框结束-->


<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<script src="js/scripts.js"></script>

</body>
</html>
